.artistsDiv {
  display: flex;
  margin-bottom: 5px;
  padding: 1%;
  width: 95%;
  max-height: 100%;
  position: relative;
  background-color: rgba(14, 107, 18, 0.114);
  border: 0px solid #000000;
}

.leftInfo {
  flex: 1;
  padding: 10px;
}

.rightImg {
  flex: 1;
  padding: 10px;
  position: relative;
}

.productImg {
  width: 25vw;
  height: 17vw;
  object-fit: cover;
  margin-top: 3%;
}

.rightImg button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: azure;
  border: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 1000;
}

.rightImg button:first-child {
  left: 10px;
}

.rightImg button:last-child {
  right: 10px;
}
