:root {
  --primary-color: #228b22;
  --secondary-color: rgb(79, 18, 77);
  --background-color: #f8f9fa;
  --text-color: #222222;
}

.map {
  padding-top: 20px;
}

.rightText {
  text-align: left;
  font-size: 18px;
  width: 80%;
  margin-top: -25px;
  padding-bottom: 10px;
}
.rightText p {
  width: 50%;
  float: left;
  position: relative;
  left: 70%;
  transform: translateX(-40%);
  color: var(--text-color);
}

.searchbar {
  display: flex;
  align-items: center;
  margin-top: -50px;
  background-color: rgba(14, 107, 18, 0.114);
  padding-left: 50%;
  margin-left: 20px;
  padding-right: 40px;
  margin-right: 20px;
  padding-top: 40px;
}

.searchbar input,
.searchbar select,
.searchbar button {
  margin-right: 10px;
  width: auto;
  display: none;
}

.searchBar label {
  display: none;
}

.searchbar button {
  margin-left: auto;
  display: none;
}

.searchBar button:hover {
  background-color: #21618c;
}

.listDiv {
  display: flex;
  border: 1px solid rgba(14, 107, 18, 0.114);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  height: 75vh;
}

.listMapDiv {
  flex: 1;
}

.mapDiv {
  width: 100%;
  max-height: 100%;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  display: none;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .switch:before {
  transform: translateX(26px);
}

input:checked + .switch {
  background-color: darkgreen;
}

label {
  display: none;
}
