:root {
  --primary-color: #228b22;
  --secondary-color: rgb(79, 18, 77);
  --background-color: #f8f9fa;
  --text-color: #222222;
}

.homeImgDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 4%;
  margin: 4%;
}

.homeAbout {
  background-color: var(--primary-color);
}

.homeAbout,
.aboutUsDiv {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto; /* Center horizontally */
  padding: 5%;
}

.aboutUsDiv p {
  color: var(--text-color);
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .homeImgDiv {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    content: center;
  }

  .homeAbout {
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    height: 40vw;
  }

  .aboutUsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
    padding-left: 5%;
    height: 40vw;
    padding-bottom: 10%;
  }

  .aboutUsDiv p {
    font-size: 22px;
    width: 160%;
    padding-right: 10%;
  }
}

.homeImg {
  width: 90%;
  height: 90%;
}

.circles {
  margin-top: -5%;
  width: 15%;
}

.rightAbout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeAbout p {
  color: var(--background-color);
  font-size: 22px;
  padding-right: 10%;
}

.homeAbout h2 {
  color: var(--background-color);
  font-size: 6vw;
}

.aboutUsDiv h2 {
  color: var(--text-color);
  font-size: 6vw;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 15px;
}

.teamImg {
  width: 120%;
  filter: grayscale(80%);
}

.pfeil {
  height: 50%;
  rotate: 180deg;
  float: right;
  margin-right: 30%;
  margin-top: 10%;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.pfeil:hover {
  animation: moveUpDown 1.5s linear infinite;
}
