.container {
  display: grid;
  position: relative;
}

.nested-container {
  display: grid;
  position: relative;
}

.image-container {
  display: grid;
}

.image-wrapper {
  z-index: 9;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-content {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.text-container {
  z-index: 11;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.text-wrapper {
  opacity: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.paragraph {
  color: #191919;
  direction: ltr;
  margin-left: 0em;
  line-height: 0.99286167em;
  text-align: left;
  text-transform: none;
  letter-spacing: -0.02em;
}

.green-text {
  color: #191919;
}

.shift-text {
  color: #191919;
  font-style: italic;
}
