.signupForm {
  margin: 0 auto;
  width: 60%;
  max-width: 750px;
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 1em;
  background-color: #fff;
  margin-top: 3%;
}

.formSign {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #818233;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.inputSign,
select,
textarea {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  appearance: none;
}

.signupButton {
  background-color: #818233;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signupButton:hover {
  background-color: #818233;
}
