:root {
    --primary-color: #228b22;
    --secondary-color: rgb(79, 18, 77);
    --background-color: #f8f9fa;
    --text-color: #222222;
  }-text-color: #222222;
}

/* Styling for the main page container */
.page {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the header section */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for h1 within the header */
.header h1 {
  color: var(--primary-color);
}

/* Styling for navigation bar */
.nav {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Styling for the footer section */
.footer {
  margin-top: 20px;
  text-align: center;
}

/* Styling for the unordered list within the footer */
.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Styling for list items within the footer */
.footer li {
  margin-right: 15px;
}

/* Styling for links within the footer */
.footer a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Hover effect for links within the footer */
.footer a:hover {
  text-decoration: underline;
}

/* Styling for generic links */
.link {
  color: var(--primary-color);
  text-decoration: none;
}
