:root {
  --primary-color: #343510;
  --secondary-color: rgb(79, 18, 77);
  --background-color: #f8f9fa;
  --nav-color: #a8a8a8;
  --text-color: #222222;
}

body {
  margin: 5px;
  padding: 5px;
  background-color: var(--background-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

h1 {
  color: var(--text-color);
  font-size: 4rem;
}

.navBar {
  display: flex;
  min-width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  gap: 10px;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 18px;
  z-index: 1000;
  position: fixed;
  top: 10px;
  background-color: var(--background-color);
}

.navBar button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

@media screen and (max-width: 1800px) {
  .navBar {
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1800px) {
  .navBar {
    width: 40%;
    margin-left: 30%;
  }
}

/* TO DO: fix pulse effect */

.navBar a {
  transition: transform 2s ease;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navBar a:hover {
  text-decoration: none;
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 15px auto;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #818233;
  border-radius: 4px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 15px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #343510;
}
.artistsDiv {
  margin-bottom: 5px;
  padding: 1%;
  width: 50%;
  border: 1px solid #000000;
}
